
  @import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Caveat&family=Roboto:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #56595e;
}


header h1 {
    color: white;
    font-family: 'Amatic', cursive;
    width: 60%;
    font-size: 60px;
    margin-left: 20%;
    text-align: center;
    margin-top: -160px;
}

header img {
    margin-left: 1110px;
}

header p {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: white;
    width: 60%;
    margin-top: 50px;
    margin-left: 20%;
}

main div {
    width: 60%;
    margin-top: 50px;
    margin-left: 20%;
}

h3 {
    font-size: 35px;
    color: white;
    font-family: 'Amatic', cursive;
    text-align: center;
    margin-top: 50px;
}

div h2 {
    font-size: 40px;
    color: white;
    font-family: 'Amatic', cursive;
    margin-top: 50px;
}

div p {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-top: 50px;
}

.italic {
    font-style: italic;
    text-align: center;
    font-size: 35px;
}

.Joel {
    margin-left: 80%;
    font-style: italic;
}

footer div {
    width: 60%;
    margin-left: 20%;
    text-align: center;
}

footer div img {
    margin-top: 100px;
    width: 120px;
}

footer div p {
    margin: 0;
    font-size: 20px;
}

.source {
    margin-bottom: 50px;
}